In [15]:
import copy
import os
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
from unicodedata import normalize
import datetime
from os import listdir
from os.path import isfile, join

In [16]:
%config Completer.use_jedi = False
pd.set_option("max_colwidth", 100)

In [17]:
# generate list of files
root = 'D:\\MyDocuments\\Logs\\HL\\'

## Table of contents <a id="0"></a>
* [Read files](#read-files)
* [Process accounts](#process-accounts)
* [Process investments](#process-investments)
* [Security metadata](#security-metadata)
* [Sector metadata](#sector-metadata)
* [Country metadata](#country-metadata)

### Read files <a name="read-files"></a>
[Go back to top](#0)

#### Investments

In [35]:
investments_file_path = root + 'Investments\\'

investments = [{'statement_date': dp
            , 'filename': f
            , 'original_full_path': os.path.join(dp, f)
           }
          for dp, dn, filenames in os.walk(investments_file_path) 
          for f in filenames 
          if (os.path.splitext(f)[1] == '.html') 
          and ('_processed' not in os.path.splitext(f)[0])] 
          
for investment in investments:
    ch = investment['statement_date'].rfind('\\', 0, len(investment['statement_date'])) + 1
    statement_date = investment['statement_date'][ch:]
    investment['statement_date'] = statement_date

# investments

#### Accounts

In [36]:
accounts_file_path = root + 'Account-Summary\\'

accounts = [{'statement_date': ''
             , 'account_type': ''
             , 'filename': f
             , 'original_full_path': os.path.join(dp, f)
            }
            for dp, dn, filenames in os.walk(accounts_file_path) 
            for f in filenames 
            if (os.path.splitext(f)[1] == '.csv') 
            and ('_processed' not in os.path.splitext(f)[0])] 
          
for account in accounts:
    statement_date = account['filename'][:4] + '-' + account['filename'][4:6] + '-' + account['filename'][6:8]
    account['statement_date'] = statement_date
    
    character_pos_start = account['filename'].find('-', 0, len(account['filename']))
    character_pos_end = account['filename'].find('-', character_pos_start+1, len(account['filename']))
    account_type = account['filename'][character_pos_start+1:character_pos_end]
    account['account_type'] = account_type
    
# accounts

### Process accounts <a name="process-accounts"></a>
[Go back to top](#0)

In [37]:
cols = ['Account_Type', 'Date', 'Code', 'Stock', 'Units', 'Price', 'Value', 'Cost', 'Gain', 'Gain_percent']
df_accounts = pd.DataFrame(columns=cols)

for account in accounts:
    print('Processing file {file}'.format(file=account['original_full_path']))
    cols_temp = ['Code', 'Stock', 'Units', 'Price', 'Value', 'Cost', 'Gain', 'Gain_percent']
    account_type = account['account_type']
    df_temp = pd.read_csv(account['original_full_path'], encoding= 'unicode_escape')
    df_temp.columns = cols_temp
    
    df_temp['Account_Type'] = account_type
    df_temp['Date'] = account['statement_date']
    df_accounts = pd.concat([df_accounts, df_temp])
    

df_accounts['Price'] = df_accounts['Price'].str.replace(',', '')
df_accounts['Value'] = df_accounts['Value'].str.replace(',', '')
df_accounts['Cost'] = df_accounts['Cost'].str.replace(',', '')
df_accounts['Gain'] = df_accounts['Gain'].str.replace(',', '')
df_accounts['Units'] = df_accounts['Units'].str.replace(',', '')

df_accounts = df_accounts.astype({'Price': 'float64'
                                  , 'Value': 'float64'
                                  , 'Cost': 'float64'
                                  , 'Gain': 'float64'
                                  , 'Gain_percent': 'float64'
                                  , 'Units': 'float64'
                                  , 'Date': 'datetime64'
                                 })
df_accounts['Price'] = df_accounts['Price'] / 100

df_accounts.head()

Processing file D:\MyDocuments\Logs\HL\Account-Summary\20210922-isa-accountsummary.csv
Processing file D:\MyDocuments\Logs\HL\Account-Summary\20210922-sipp-accountsummary.csv
Processing file D:\MyDocuments\Logs\HL\Account-Summary\20211012-isa-accountsummary.csv
Processing file D:\MyDocuments\Logs\HL\Account-Summary\20211012-sipp-accountsummary.csv

,Account_Type,Date,Code,Stock,Units,Price,Value,Cost,Gain,Gain_percent
0,isa,2021-09-22,BBX4652,ASI Global Smaller Companies Class S - Accumulation (GBP),3641.660,1.6970,6179.90,5000.00,1179.90,23.60
1,isa,2021-09-22,601016,Baillie Gifford Managed Class B - Accumulation (GBP),334.448,17.3000,5785.95,4984.51,801.44,16.08
2,isa,2021-09-22,B88V3X4,Fidelity Special Situations Class W - Accumulation (GBP),176.050,42.0900,7409.94,4946.99,2462.95,49.79
3,isa,2021-09-22,BQXWPW1,Jupiter Income Class Z - Income (GBP),1282.310,5.1987,6666.34,4955.23,1711.11,34.53
4,isa,2021-09-22,BG0QPF9,Legal & General UK 100 Index Trust Class C - Income (GBP),4436.560,1.3960,6193.43,4967.76,1225.67,24.67

### Process investments <a name="process-investments"></a>
[Go back to top](#0)

In [39]:
cols_security = ['Stock', 'Date', 'Security', 'Weight']
cols_sector = ['Stock', 'Date', 'Sector', 'Weight']
cols_country = ['Stock', 'Date', 'Country', 'Weight']

df_security = pd.DataFrame(columns=cols_security)
df_sector = pd.DataFrame(columns=cols_sector)
df_country = pd.DataFrame(columns=cols_country)

for investment in investments:
#     print('Processing file [{investment}]...\n'.format(investment=investment['original_full_path']))
    stock = investment['filename'].replace('.html', '')
    date = investment['statement_date']
#     if investment['filename'] == 'THREADNEEDLE UK EQUITY INCOME CLASS L- ACCUMULATION (GBP).html':
    tables_raw = pd.read_html(investment['original_full_path'])
    tables = []

    for table in tables_raw:
        tables.append(table)

        idx = 0
    for table in tables:
        df_temp = pd.DataFrame(table)
        df_temp['Stock'] = stock
        df_temp['Date'] = date
        if 'Security' in df_temp.columns:
            df_security = pd.concat([df_security, df_temp])
        elif 'Sector' in df_temp.columns:
            df_sector = pd.concat([df_sector, df_temp])
        elif 'Country' in df_temp.columns:
            df_country = pd.concat([df_country, df_temp])


        idx +=1

In [40]:
df_security = df_security.astype({'Date': 'datetime64'})
df_sector = df_sector.astype({'Date': 'datetime64'})
df_country = df_country.astype({'Date': 'datetime64'})

In [42]:
df_security.head()

,Stock,Date,Security,Weight
0,ABERDEEN STANDARD GLOBAL INNOVATION EQUIT CLASS R2 - ACCUMULATION (GBP),2021-09-22,FIVERR INTERNATIONAL LTD,4.14%
1,ABERDEEN STANDARD GLOBAL INNOVATION EQUIT CLASS R2 - ACCUMULATION (GBP),2021-09-22,MICROSOFT CORP,4.11%
2,ABERDEEN STANDARD GLOBAL INNOVATION EQUIT CLASS R2 - ACCUMULATION (GBP),2021-09-22,KORNIT DIGITAL LTD,3.91%
3,ABERDEEN STANDARD GLOBAL INNOVATION EQUIT CLASS R2 - ACCUMULATION (GBP),2021-09-22,TAIWAN SEMICONDUCTOR MANUFACTURING,3.69%
4,ABERDEEN STANDARD GLOBAL INNOVATION EQUIT CLASS R2 - ACCUMULATION (GBP),2021-09-22,ADYEN,3.58%

In [43]:
df_sector.head()

,Stock,Date,Sector,Weight
0,ABERDEEN STANDARD GLOBAL INNOVATION EQUIT CLASS R2 - ACCUMULATION (GBP),2021-09-22,Software & Computer Services,22.28%
1,ABERDEEN STANDARD GLOBAL INNOVATION EQUIT CLASS R2 - ACCUMULATION (GBP),2021-09-22,Technology Hardware & Equipment,8.84%
2,ABERDEEN STANDARD GLOBAL INNOVATION EQUIT CLASS R2 - ACCUMULATION (GBP),2021-09-22,Medical Equipment & Services,8.53%
3,ABERDEEN STANDARD GLOBAL INNOVATION EQUIT CLASS R2 - ACCUMULATION (GBP),2021-09-22,Pharmaceuticals & Biotechnology,6.62%
4,ABERDEEN STANDARD GLOBAL INNOVATION EQUIT CLASS R2 - ACCUMULATION (GBP),2021-09-22,Industrial Support Services,6.43%

In [44]:
df_country.head()

,Stock,Date,Country,Weight
0,ABERDEEN STANDARD GLOBAL INNOVATION EQUIT CLASS R2 - ACCUMULATION (GBP),2021-09-22,United States,42.98%
1,ABERDEEN STANDARD GLOBAL INNOVATION EQUIT CLASS R2 - ACCUMULATION (GBP),2021-09-22,Israel,14.35%
2,ABERDEEN STANDARD GLOBAL INNOVATION EQUIT CLASS R2 - ACCUMULATION (GBP),2021-09-22,Germany,7.65%
3,ABERDEEN STANDARD GLOBAL INNOVATION EQUIT CLASS R2 - ACCUMULATION (GBP),2021-09-22,Netherlands,7.65%
4,ABERDEEN STANDARD GLOBAL INNOVATION EQUIT CLASS R2 - ACCUMULATION (GBP),2021-09-22,United Kingdom,4.59%

### Security metadata <a name="security-metadata"></a>
[Go back to top](#0)

In [45]:
df_accounts_merge = df_accounts
df_accounts_merge['stock_lower'] = df_accounts_merge['Stock'].str.lower()

df_security_merge = df_security
df_security_merge['stock_lower'] = df_security_merge['Stock'].str.lower()

df_security_combined = pd.merge(df_accounts_merge, df_security_merge
                                , how='left'
                                , on=['Date', 'stock_lower']
                                , suffixes=[None, '_y']
                               )

In [46]:
df_security_combined.drop(['Stock_y', 'stock_lower'], axis=1, inplace=True)

#### Inspect security data for missing values

In [48]:
# df_security_combined.loc[df_security_combined['Security'].isnull(), ['Account_Type', 'Date', 'Stock']]

In [49]:
df_security_combined = df_security_combined.loc[df_security_combined['Security'].notnull()]

#### Populate security value and sub-df

In [51]:
df_security_combined['Security_Value'] = pd.to_numeric(df_security_combined['Weight']
                                                       .str.replace('%', ''))/100 * df_security_combined['Value']

In [52]:
df_security_combined.head()

,Account_Type,Date,Code,Stock,Units,Price,Value,Cost,Gain,Gain_percent,Security,Weight,Security_Value
0,isa,2021-09-22,BBX4652,ASI Global Smaller Companies Class S - Accumulation (GBP),3641.66,1.697,6179.9,5000.0,1179.9,23.6,GENERAC HLDGS,4.13%,255.22987
1,isa,2021-09-22,BBX4652,ASI Global Smaller Companies Class S - Accumulation (GBP),3641.66,1.697,6179.9,5000.0,1179.9,23.6,FUTURE,4.01%,247.81399
2,isa,2021-09-22,BBX4652,ASI Global Smaller Companies Class S - Accumulation (GBP),3641.66,1.697,6179.9,5000.0,1179.9,23.6,YETI HOLDINGS INC,3.54%,218.76846
3,isa,2021-09-22,BBX4652,ASI Global Smaller Companies Class S - Accumulation (GBP),3641.66,1.697,6179.9,5000.0,1179.9,23.6,KORNIT DIGITAL LTD,3.48%,215.06052
4,isa,2021-09-22,BBX4652,ASI Global Smaller Companies Class S - Accumulation (GBP),3641.66,1.697,6179.9,5000.0,1179.9,23.6,AXON ENTERPRISE INC,3.38%,208.88062

In [58]:
df_security_analysis = df_security_combined.groupby(['Date', 'Security']).sum('Security_Value').reset_index()
cols = ['Date', 'Security', 'Security_Value']
df_security_analysis = df_security_analysis[cols]

In [59]:
df_security_analysis.head()

        Date                                   Security  Security_Value
0 2021-09-22                  0 3/8% Treasury Gilt 2030       99.517740
1 2021-09-22                  0 5/8% Treasury Gilt 2025      115.156242
2 2021-09-22                      2% Treasury Gilt 2025      111.365090
3 2021-09-22  3i Group Plc 3i Group Plc Ord GBP0.738636      631.063200
4 2021-09-22                     3½% Treasury Gilt 2068       99.991634